{% extends "template.html" %}
{% block title %}日表示{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/calendar_day.css') }}">
  <script src="{{ url_for('static',filename='js/calendar_day.js') }}"></script>
  <script type="text/javascript">
    let reserves = {{ reserves | tojson }}
    let conferences = {{ conferences | tojson }}
  </script>
{% endblock %}
{% block content %}

    <div class="row align-items-start p-b">
        <!-- xxxx年xx月を表示 -->
        <div class="col-lg-8 reserve100-form-title p-b " id="header"></div>
        <!-- 前の日，今日，次の日を表示 -->
        <div class="col-lg-4 reserve100-form-title p-b">
            <button type="button" class="btn btn-primary" id="prev" onclick="prev()">← 前の日</button>
            <button type="button" class="btn btn-primary" id="today_btn" onclick="today_btn()">今日</button>
            <button type="button" class="btn btn-primary" id="next" onclick="next()">次の日 →</button>
        </div>
    </div>

    <!-- カレンダー -->
    <div class="calendar_disp" id="calendar"></div>

{% endblock %}