/*全体*/
.wrapper {
    max-width: 1000px;
    margin: 0 auto;
    color: #666;
}
#header {
    text-align: center;
    font-size: 24px;
    width: 100%;
    margin: 1rem 0 0;
}

/*カレンダー*/
#calendar {
    text-align: center;
    width: 100%;
}
table {
    outline: 2px solid #ddd;
    border-collapse: collapse;
    width: 100%;
}
th {
    color: #000;
}
th, td {
    outline: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

/*日*/
th.today {
    background-color: aqua;
    color: white;
}
th.sunday {
    background-color: white;
    color: red;
}
th.saturday {
    background-color: white;
    color: blue;
}

/*ボタン*/
#next-prev-button {
    position: relative;
}
#next-prev-button button {
    cursor: pointer;
    background: #B78D4A;
    color: #fff;
    border: 1px solid #B78D4A;
    border-radius: 4px;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
}
#next-prev-button button:hover {
    background-color: #D4BB92;
    border-color: #D4BB92;
}
#prev {
    float: right;
}
#current {
    float: right;
}
#next {
    float: right;
}
