
/*ƒJƒŒƒ“ƒ_[*/
th, td {
    text-align: center;
    width: 12.5%;
}

/*“ú*/
th.sunday {
    color: red;
}
th.saturday {
    color: blue;
}

/*—\–ñ*/
.reserve {
    width: 100%;
    height: 50px;
    display: block;
}