/*
    created at 2022/02/03
    created by shinoda hiroki

    @this file is ...

    design of user information 
*/

#user_content .tab_content_description{
    height: 100%;
    width: 100%;
}

/*ユーザー情報のグリッド表示を設定*/
#user_information{
    height: fit-content;
    width:  fit-content;
    display: grid;
    margin: auto auto;
    grid-template-rows: 45px 45px 45px 45px;
    grid-template-columns: 200px 300px 70px;
    grid-template-areas: 
                "name_heading   name_item   change_name_btn"
                "mail_heading   mail_item   change_mail_btn"
                "passwd_heading passwd_item change_passwd_btn"
                "logout_btn     logout_btn  logout_btn";
    
}

/*ユーザー表示グリッド内のデザイン*/
#user_information *{
    font-size: 18px;
    margin: auto 0;
}

/*ボタン領域のデザイン*/
#change_user_name_btn, #change_user_mail_btn, #change_user_passwd_btn, #logout_btn{
    margin: auto auto;
}

/*ボタン自体のデザイン*/
#user_information button{
    font-size: 16px;
}

/*ユーザー名のヘッダー*/
#user_name_heading{
    grid-area: name_heading;
}

/*ユーザー名の名前表示部分*/
#user_name_item{
    grid-area: name_item;
}

/*ユーザー名の変更ボタン*/
#change_user_name_btn{
    grid-area: change_name_btn;
}

/*メイルのヘッダー*/
#user_mail_heading{
    grid-area: mail_heading;
}

/*メイルアドレス表示部分*/
#user_mail_item{
    grid-area: mail_item;
}

/*メイルアドレス変更ページへのボタン*/
#change_user_mail_btn{
    grid-area: change_mail_btn;
}

/*パスワードのヘッダー*/
#user_passwd_heading{
    grid-area: passwd_heading;
}

/*パスワード表示部分*/
#user_passwd_item{
    grid-area: passwd_item;
}

/*パスワード変更ページへのボタン*/
#change_user_passwd_btn{
    grid-area: change_passwd_btn;
}

/*ログアウトのボタン*/
#logout_btn{
    grid-area: logout_btn;
}