<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>会議室予約システム</title>
</head>
<body>
    <header class="top">
        <p>会議室予約システム</p>
        <p>「{{name}}」としてログイン中</p>
    </header>
    <div class="content">
        <div class="band_area">
            <button type="button" class="band" onclick="location.href='./book_info'">予約情報</button>
            <button type="button" class="band" onclick="location.href='./booking'">予約する</button>
            <button type="button" class="band" onclick="location.href='./room'">会議室詳細</button>
            <button type="button" class="band" onclick="location.href='./help'">オンラインヘルプ</button>
            <button type="button" class="band" onclick="location.href='./user_info'">ユーザー情報</button>
            <button type="button" class="band">ログアウト</button>
        </div>
        <div class="main">
            <p>予約情報画面</p>
            <p>　</p>
            <p>登録内容（仮）</p>
            <p>利用者名：{{name}}</p>
            <p>利用目的：{{mokuteki}}</p>
            <p>利用者メアド：{{mail}}</p>
        </div>
    </div>
</body>