<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>予約システム</title>
</head>
<body>
    <header class="top">
        <p>会議室予約システム</p>
    </header>
    <div class="content">
        <div class="main">
            <p>パスワード変更画面</p>
            <p>
                現在のパスワード：
                <input type="text" name="password">
            </p>
            <p>
                変更後のパスワード：
                <input type="text" name="newpassword">
            </p>
            <p>
                <button type="button" onclick="location.href='./user_info'">戻る</button>
                <button type="button" onclick="location.href='./user_info'">変更</button>
            </p>
        </div>
    </div>
</body>