{% extends "template.html" %}
{% block title %}管理者{% endblock %}
{% block head %}
  {{ super() }}
      	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main_admin.css') }}">
{% endblock %}
{% block content %}

	<div class="limiter">
        <div class="container-admin100">
			<div class="wrap-admin100">
                <span class="admin100-form-title p-b-26">
						管理
                </span>

                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table class="table table-bordered table-striped mb-0">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">氏名</th>
                            <th scope="col">メール</th>
                            <th scope="col">パスワード</th>
                            <th scope="col">管理者権限</th>
                            <th scope="col">削除</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for register in registers %}
                        <tr>
                            <th>{{ register.users.__dict__['user_id'] }}</th>
                            <td>{{ register.users.__dict__['name'] }}</td>
                            <td>{{ register.users.__dict__['email'] }}</td>
                            <td>{{ register.__dict__['passwd'] }}</td>
                            <td>{{ register.__dict__['admin'] }}</td>
                            <td><button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#myModal{{ register.users.__dict__['user_id'] }}">削除</button>
                                <div class="modal fade" id="myModal{{ register.users.__dict__['user_id'] }}" tabindex="-1" aria-labelledby="delete-user-label" aria-hidden="true">
                                    <div class="modal-dialog modal-sm modal-dialog-centered" id="{{ register.users.__dict__['user_id'] }}">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="delete-user-label">削除確認</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                            <div class="modal-body">
                                                氏名:　{{ register.users.__dict__['name'] }}<br>
                                                メール:　{{ register.users.__dict__['email'] }}<br>
                                                を削除しますか？
                                                </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                                                <a type="button" class="btn btn-secondary" href="{{ url_for('user_delete.user_delete',user_email=register.users.__dict__['email']) }}">削除</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                        </tr>
                        {% endfor %}
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div class="container-admin100-form-btn">
                    <div class="wrap-admin100-form-btn">
                        <div class="admin100-form-bgbtn"></div>
                            <a type="button" class="admin100-form-btn" href="{{ url_for(('admin_user_add.admin_user_add')) }}">
								ユーザー登録
							</a>
                        </div>
                </div>

                <div class="container-admin100-form-btn">
                    <div class="wrap-admin100-form-btn">
                        <div class="admin100-form-bgbtn"></div>
                            <a type="button" class="admin100-form-btn" href="{{ url_for(('admin_room.admin_room')) }}">
								会議室
							</a>
                        </div>
                </div>

                <div class="container-admin100-form-btn">
                    <div class="wrap-admin100-form-btn">
                        <div class="admin100-form-bgbtn"></div>
                            <a type="button" class="admin100-form-btn" href="{{ url_for('main_tab.main_tab') }}">
								戻る
							</a>
                        </div>
	</div>
    </div>
        </div>
    </div>
{% endblock %}