{% extends "template.html" %}
{% block content %}

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
                <span class="login100-form-title p-b-26">
						管理
                </span>
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                            <a type="button" class="login100-form-btn" href="{{ url_for(('admin_user_add.admin_user_add')) }}">
								ユーザー登録
							</a>
                        </div>
                </div>
                 <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                            <a type="button" class="login100-form-btn" href="{{ url_for(('admin_user_add.admin_user_add')) }}">
                                ユーザー情報
							</a>
                    </div>
			</div>

             <div class="container-login100-form-btn">
                    {% for user in users %}
                    <div class="wrap-login100-form-btn">
                        <div class="login100-form-bgbtn"></div>
                            <a type="button" class="login100-form-btn" href="{{ url_for('user_delete.user_delete',user_name=user.__dict__['name']) }}">
                                {{ user.__dict__['name'] }}
							</a>
                    </div>
                    {% endfor %}
			</div>

	</div>

    </div>

    </div>
{% endblock %}