{% extends "template.html" %}
{% block title %}予約する{% endblock %}
{% block head %}
{{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main_reserve.css') }}">
    <link href='../static/css/main_tab.css' rel='stylesheet' />
    <link href='../static/css/reserve.css' rel='stylesheet' />
{% endblock %}
{% block content %}

	<div class="limiter">
		<div class="container">
				<form class="row justify-content-start align-items-center" method="post">
					<span class="login100-form-title p-b-26">
						予約
					</span>
                    <div class="row justify-content-start align-items-center">
                        <div class="col-1 text-center"><label>会議室</label></div>
                        <div class="col-auto">
                            <select class="form-select" name="conference">
                                <option selected>会議室</option>
                                {% for conference in conferences%}
                                    <option value={{ conference.__dict__['name'] }}>{{ conference.__dict__['name'] }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <!-- 日付選択 -->
                    <div class="row justify-content-start align-items-center">
                        <div class="col-1 text-center">日付</div>
                        <div class="col-auto flex-row align-items-center">
                            <select class="form-select" id="select_year" name="select_year"></select>年
                        </div>
                        <div class="col-auto flex-row align-items-center">
                            <select class="form-select" id="select_month" name="select_month"></select>月
                        </div>
                        <div class="col-auto flex-row align-items-center">
                            <select class="form-select" id="select_day" name="select_day"></select>日
                        </div>
                    </div>

                    <div class="row justify-content-start align-items-center">
                        <div class="col-1 text-center">時間</div>
                        <div class="col-auto flex-row align-items-center">
                            <select class="form-select" id="select_start_hour" name="select_start_hour"></select>：
                            <select class="form-select" id="select_start_minute" name="select_start_minute"></select>
                        </div>
                        <div class="col-auto">～</div>
                        <div class="col-auto flex-row align-items-center">
                            <select class="form-select" id="select_end_hour" name="select_end_hour"></select>：
                            <select class="form-select" id="select_end_minute" name="select_end_minute"></select>
                </div>

                </div>
                   <div class="row">
                        <div class="col-md-5">
                            <!-- 利用者名 -->
                            <div class="row justify-content-start align-items-center">
                                <div class="col-md-5 text-center">利用者名</div>
                                <div class="col-md-6"><input class="form-control" name="Name" placeholder="name"></div>
                            </div>

                            <div class="row justify-content-start align-items-center">
                                <div class="col-md-5 text-center">利用者<br>メールアドレス</div>
                                <div class="col-md-6"><input type="email" class="form-control" name="email" placeholder="email"></div>
                            </div>

                            <!-- 利用目的 -->
                            <div class="row justify-content-start align-items-center">
                                <div class="col-md-5 text-center">利用目的</div>
                                <div class="col-auto">
                                    <select class="form-select" name="purpose">
                                        <option selected>利用目的</option>
                                        <option value="授業">授業</option>
                                        <option value="会議">会議</option>
                                        <option value="入試">入試</option>
                                        <option value="その他">その他</option>
                                    </select>
                                </div>
                            </div>

                            <!-- 備考 -->
                            <div class="row justify-content-start align-items-center">
                                <div class="col-md-5 text-center">備考</div>
                                <div class="col-md-6"><input class="form-control" name="remarks" placeholder="remarks"></div>
                            </div>

                        </div>
                   </div>

					<div class="row">
                        <div class="col-auto mx-auto">
                            <button class="btn btn-secondary" >予約登録</button>
                        </div>
                    </div>

				</form>
		</div>
	</div>

    <script src='../static/js/reserve.js'></script>
{% endblock %}