{% extends "template.html" %}
{% block title %}予約する{% endblock %}
{% block head %}
{{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main_reserve.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main_tab.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/reserve.css') }}">
{% endblock %}

{% block content %}
<div class="limiter">
    <div class="container-user100">
    <div class="wrap-user100">
        <form class="login100-form validate-form" method="post">
            <div class="row row-cols-2 align-items-center">
                <div class="col-2 colreserve">
                    <label>会議室</label>
                </div>
                <div class="col-4 p-b-10">
                    <select class="form-select" id="conference">
                        {% for conference in conferences %}
                            <option value="{{ conference.__dict__['id'] }}">{{ conference.__dict__['name'] }}></option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-2 colreserve">
                    <label>日付</label>
                </div>
                <div class="col-4 p-b-10">
                    <input id="date" class="form-control" type="date" />
                </div>
                <div class="col-2 colreserve">
                    <label>開始時間</label>
                </div>
                <div class="col-4 p-b-10">
                    <input id="starttime" class="form-control" type="time" />
                </div>
                <div class="col-2 colreserve">
                    <label>終了時間</label>
                </div>
                <div class="col-4">
                    <input id="endtime" class="form-control" type="time" />
                </div>
                <div class="col-4 colreserve">
                    <label>利用者名</label>
                </div>
                <div class="col-8 p-b-10">
                    <input class="form-control" id="name" placeholder="利用者名">
                </div>
                <div class="col-4 colreserve">
                    <label>利用目的</label>
                </div>
                <div class="col-8 p-b-10">
                    <select class="form-select" id="purpose">
                        <option value="授業">授業</option>
                    <option value="会議">会議</option>
                    <option value="入試">入試</option>
                    <option value="その他">その他</option>
                </select>
            </div>
            <div class="col-4 colreserve">
                <label>利用者メール</label>
            </div>
            <div class="col-8 p-b-10">
                <input type="email" class="form-control" id="email" placeholder="メール">
            </div>
            <div class="col-4 colreserve">
                <label>備考</label>
            </div>
            <div class="col-8 p-b-10">
                <input class="form-control" id="remarks" placeholder="参考">
            </div>
                <div class="col-12 p-b-10 text-center"><button class="btn btn-secondary btn-lg" type="button">予約登録</button></div>
            </div>
        </form>
    </div>
    </div>
</div>
    <script src="{{ url_for('static',filename='js/reserve.js') }}"></script>
{% endblock %}

