{% extends "template.html" %}
{% block title %}会議室詳細{% endblock %}
{% block head %}
  {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main_reserve.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main_tab.css') }}">
{% endblock %}
{% block content %}
<div class="limiter">
   <div class="container-user100">
       <div class="wrap-room100">
          <div class="row row-cols-3 align-items-center">
              <div class="col-sm-4  p-b-20">
                  <div class="card" style="width: 18rem;">
                      <img src="{{ url_for('static',filename='img/1.jpg') }}" class="card-img-top" alt="classroom">
                      <div class="card-body">
                          <h5 class="card-title">会議室番号</h5>
                          <h6 class="card-subtitle mb-2 text-muted">人数</h6>
                          <p class="card-text">詳細</p>
                      </div>
                  </div>
              </div>
          </div>
       </div>
   </div>
</div>
{% endblock %}