<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>予約システム</title>
    <link rel="stylesheet" href="static/css/tab.css">
</head>
<body>
    <header class="top">
        <p>会議室予約システム</p>
        <p>「{{name}}」としてログイン中</p>
    </header>
    <div class="content">
        <div class="band_area">
            <button type="button" class="band" onclick="location.href='./book_info'">予約情報</button>
            <button type="button" class="band" onclick="location.href='./booking'">予約する</button>
            <button type="button" class="band" onclick="location.href='./room'">会議室詳細</button>
            <button type="button" class="band" onclick="location.href='./help'">オンラインヘルプ</button>
            <button type="button" class="band" onclick="location.href='./user_info'">ユーザー情報</button>
            <button type="button" class="band">ログアウト</button>
        </div>
        <div class="main">
            <p>会議室詳細画面</p>
            <input id="tab1" type="radio" name="btn" checked>
            <input id="tab2" type="radio" name="btn">
            <input id="tab3" type="radio" name="btn">
            <input id="tab4" type="radio" name="btn">
            <input id="tab5" type="radio" name="btn">
            <input id="tab6" type="radio" name="btn">

            <div class="tab_area">
                <label class="tab_label" for="tab1">会議室1</label>
                <label class="tab_label" for="tab2">会議室2</label>
                <label class="tab_label" for="tab3">会議室3</label>
                <label class="tab_label" for="tab4">会議室4</label>
                <label class="tab_label" for="tab5">会議室5</label>
                <label class="tab_label" for="tab6">会議室6</label>
            </div>
            <div class="panel_area">
                <div id="panel1" class="panel">
                    <p>会議室1情報</p>
                </div>
                <div id="panel2" class="panel">
                    <p>会議室2情報</p>
                </div>
                <div id="panel3" class="panel">
                    <p>会議室3情報</p>
                </div>
                <div id="panel4" class="panel">
                    <p>会議室4情報</p>
                </div>
                <div id="panel5" class="panel">
                    <p>会議室5情報</p>
                </div>
                <div id="panel6" class="panel">
                    <p>会議室6情報</p>
                </div>
            </div>
        </div>
    </div>
</body>