<!DOCTYPE html>
<html lang="ja">
<head>

</head>
 行を追加します<input type="button" value="行を追加" id="coladd" onclick="coladd()">
                        <table id="table" width="80%" border="1">
                        <tr>
                            <td>
                                日付
                            </td>
                            <td>
                                時間帯
                            </td>
                            <td>
                                会議室
                            </td>
                            <td>
                                利用者
                            </td>
                        </tr>
                        </table>
<script src='../static/js/simple.js'></script>