<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>予約システム</title>
</head>
<body>
    <header class="top">
        <p>会議室予約システム</p>
        <p>「{{name}}」としてログイン中</p>
    </header>
    <div class="content">
        <div class="band_area">
            <button type="button" class="band" onclick="location.href='./book_info'">予約情報</button>
            <button type="button" class="band" onclick="location.href='./booking'">予約する</button>
            <button type="button" class="band" onclick="location.href='./room'">会議室詳細</button>
            <button type="button" class="band" onclick="location.href='./help'">オンラインヘルプ</button>
            <button type="button" class="band" onclick="location.href='./user_info'">ユーザー情報</button>
            <button type="button" class="band">ログアウト</button>
        </div>
        <div class="main">
            <p>ユーザー情報画面</p>
            <p>
                名前：{{name}}
                <button type="button" class="change" onclick="location.href='./change_name'">変更</button>
            </p>
            <p>
                メールアドレス：{{mail}}
                <button type="button" class="change" onclick="location.href='./change_mail'">変更</button>
            </p>
            <p>
                パスワード：{{password}}
                <button type="button" class="change" onclick="location.href='./change_password'">変更</button>
            </p>
        </div>
    </div>
</body>